# MongoDB connection string
MONGODB_URI=mongodb+srv://abitha27012005_db_user:Abitha2701@bytelinkdb.qprhvsb.mongodb.net/?appName=bytelinkDb

# Server port
PORT=4000

# JWT secret for signing tokens (change this in production)
JWT_SECRET=jyMVslQU971HtEifqO8C9o9L9SgfB3UNh9JGmC5mhd8

# Base URL used to build shortened links
BASE_URL=http://localhost:4000


